html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.ca-container {
  height: 100vh;
  display: flex;
  align-content: center;
  flex-direction: column;
}

input[type=file] {
  opacity: 0;
  position: fixed;
}

.ca-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ca-header-container h1 {
  font-family: Acme;
  font-size: 5em;
  order: 1;
}

.ca-brand {
  display: flex;
  align-items: flex-start;
}

.ca-brand-primary {
  font-size: 7em !important;
  align-content: flex-start;
  margin-right: -15px;
  opacity: 0.4;
  /*color: #b2dfdb !important;*/
}

.ca-brand-secundary {
  align-self: flex-end;
  z-index: 99;
}

.ca-header-container a {
  order: 99;
}

.ca-header-container a i {
  font-size: 2.5em !important;;
}

.ca-file-container {
  display: flex;
  justify-content: space-around;
}

.ca-file-container a {
  min-width: 182px;
  margin-left: 20px;
}

.ca-file-container input[type=text] {
  text-align: center;
}

.ca-btn-box-container{
  margin-top: 75px !important;
}

.ca-btn-box-container span{
  margin-right: 30px;
}

.row {
  margin-top: 10px;
}
