body {
    -webkit-app-region: drag;
    overflow: auto;
}

p {
    margin: 0.5em 0;
    line-height: 1.2em;
}

.ca-close-container {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 30px;
    top: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ca-close-icon {
    color: dodgerblue !important;
    font-size: 3em !important;
}

.text-scratched {
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-color: lightslategray;
    margin: 0 4px;
}

.top-divider {
    margin: 2em 0;
}

.ca-brand-container {
    font-family: Acme;
    font-size: calc(2em + 0.5vw) !important;
    color: cornflowerblue;
}

.ca-brand-primary {
    font-size: 1.5em !important;
    align-content: flex-start;
    margin-right: -10px;
    margin-left: 5px;
    opacity: 0.4;
    /*color: #b2dfdb !important;*/
}

.ca-brand-secundary {
    font-size: 1.2em !important;
    align-self: flex-end;
    z-index: 99;
}


.typewriter h1 {
    width: 470px;
    color: cornflowerblue;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid dodgerblue;
    white-space: nowrap;
    margin: 1em auto;
    letter-spacing: .15em;
    animation: 
        typing 2s steps(30, end),
        blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 470px }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: dodgerblue }
}

ol {
    counter-reset:li;   
    margin-left:0;      
    padding-left:0;
}  

ol > li {      
    position:relative;    
    margin:0 0 6px 2em;    
    padding:4px 8px;    
    list-style:none;   
    border-top:2px solid cornflowerblue;      
    background:transparent;  
}  

ol > li:before {      
    content:counter(li);   
    counter-increment:li;  
    position:absolute;      
    top:-2px;      
    left:-2em;      
    -moz-box-sizing:border-box;     
    -webkit-box-sizing:border-box;      
    box-sizing:border-box;      
    width:2em;  
    margin-right:8px;      
    padding:4px;      
    border-top:2px solid cornflowerblue;      
    color:#fff;      
    background:cornflowerblue;      
    font-weight:bold;      
    font-family:"Helvetica Neue", Arial, sans-serif;      
    text-align:center;  
}  

li ol,  li ul {
    margin-top:6px;
}  
ol ol li:last-child {
    margin-bottom:0;
}

.ca-emoji {
    margin-bottom: -5px;
    height: 30px;
    width: 30px;
}